

    .footer {
    
    &__container {
        background-repeat: repeat-x !important;
        position: relative;
        top: 4rem;
        
    }
    @include breakpoint (mobile){&{ 
        margin-top: -9rem;
    }
        &__socket--right {
           
            position: relative;
            top: 30px;
        }
    }

    
}
    
    
  
    ul.noLightbox.social_bookmarks.icon_count_2 {
        li {
            margin-left: 1.2rem;
        a {
            font-size: 1.8rem;
            
        }
    }
    }
