
.veg-tastes {
    &-label{
        font-size: 1.2rem !important;
        margin-bottom: -.7rem;
        text-transform: none !important;
    }

    &-items {
        font-size: .8rem !important;
    }


}

.progressbar-title {
    font-size: 1.2rem !important;
    text-transform: none !important;
    margin-bottom: .6rem;
}