/* Typeface Vendor Prefixing */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,600i,700,900&display=swap');

*, html, body {
    font-size: $base-font-size;

    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/* END TYPEFACE VENDOR PREFIXING */


/* Headers */

h1, h2, h3, h4, h5, h6 {
    margin-top: $header-margin * 1.5;
    color: theme(text, heading);
    line-height: $header-line-height;
    font-weight: 700;

    

    &:first-child {
        margin-top: 0;
    }
}

h1 {
    font-size: $header-size;
    margin-bottom: $header-margin;
}

h2 {
    font-size: $header-size / 1.3;
    margin-bottom: $header-margin / 1.3;
}

h3 {
    font-size: $header-size / 1.5;
    margin-bottom: $header-margin / 1.5;
}

h4 {
    font-size: $header-size / 1.7;
    margin-bottom: $header-margin / 1.7;
}

h5 {
    font-size: $header-size / 1.8;
    margin-bottom: $header-margin / 1.8;
}

h6 {
    font-size: $header-size / 2;
    margin-bottom: $header-margin / 2;
}

/* END HEADERS */

/* Paragraphs */

p {
    margin-bottom: $paragraph-margin;
    font-size: $paragraph-size;
    line-height: $paragraph-line-height;
    color: theme(text, paragraph);

    &:last-of-type {
        margin-bottom: 0;
    }
}

/* END PARAGRAPHS */

/* Links */

a {
    &:hover {
        color: color(green, base);
    }
}

.link {
   @include link($green, $green)
    }
    
  



/* END LINKS */

/* Horizontal Lines */

hr {
    height: 1px;
    margin: $hr-margin 0;
    border: none;
    background-color: lighten(theme(text,paragraph),40);
}

/* END HORIZONTAL LINES */

/* Blockquotes */

blockquote {
    margin: $blockquote-margin 0;
    font-size: $blockquote-size;
    line-height: $blockquote-line-height;
    color: theme(text, heading);
    text-align: center;
    font-style: italic;
}

/* END BLOCKQUOTES */




