h3#benefits {
    font-size: 1.2rem !important;
    padding-top: .4rem;
}

.veg-vitamin {

    &-label {
        text-align: center;
        font-size: .8rem;
    }

    &-container {
        
        padding: .25rem;
        border-radius: .25rem;
        box-shadow: 7px 18px 25px -33px rgba(0,0,0,0.58);
    }

    text-align:center;
    line-height: .01rem;
    margin-top: -.2rem;


}

.veg-vitamins-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem; 
    
}

.nutrients {
    margin-top: -1rem;
    font-size: .8rem;
    line-height: 1rem;
} 

p.veg-great-source-heading {
    font-size: .8rem !important;
    margin-bottom: 1rem;
}
