// Base theme colors

$theme-primary: $green;
$theme-secondary: $purple;
$theme-highlight: $yellow;
$theme-text: $black;

// Base theme settings

$theme-text-mode: lighten;
$theme-text-contrast: 20%;
$theme-shade-amount: 15%;
$theme-trans-amount: 0.3;
$theme-shadow-amount: 0.6;
