.cta {
    @include fw()
    @include breakpoint(mobile){&{
        border-radius: 0px !important;
        }
    }

    &__contact-form {
        width: 80%;
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }

    & fieldset {
        margin-bottom: -1rem;
        margin-top: 1rem;
        width: 100%;
    }

    & input.button {
        margin-top: 0rem !important;
  @include button(color(green, base), white)
    }
    & input#avia_1_1 {
        padding: 0.45rem 1.5rem !important;
        border-radius: .25rem !important;
        & :active {
            border: 2px solid color(blue, base);
        }
    }


}