#great-with {
    color: white;
    font-size: 1.2rem;
    text-transform: none;
    margin-top: .8rem;
    margin-bottom: .8rem;
}

.great-with {
    border-radius: .25rem !important;    
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23000' fill-opacity='.1' points='120 0 120 60 90 30 60 0 0 0 0 0 60 60 0 120 60 120 90 90 120 60 120 0'/%3E%3C/svg%3E");
    box-shadow: 7px 18px 25px -33px rgba(0,0,0,0.58);

    &-items-container {
        display: flex;
        list-style-type: none !important;
        justify-content: space-around;
        
        
        
    }

    &-item {
        


        display: flex;
        flex-direction: column;

    }

    &-item-picture {
        border-radius: 50%;
        border: 5px solid white;
       
       
    }

    

    &-item-picture-container {
        height: 5rem;
        width: 5rem;
        margin-bottom: -.8rem;
       
    }

    &-item-name {
        color: white;
        margin-top: 1.5rem !important;
        text-align: center;
        margin-bottom: 1rem !important;

    }

    @include fw()

    @include breakpoint(mobile){
        & {
            margin-top: .5rem !important;
            border-radius: 0px !important;
        }
    }

}