#dashboard-widgets h3 {
margin: 0px !important;
padding: 0px !important;
}

.changelog {
margin: 0px;
padding: 0px;
border: 0px;

}
.changelog {
  display: flex;
  flex-direction: column-reverse;
  margin-left: auto;
  margin-right: auto;
width: 100%;
}




.changelog-version-date {
text-align: right;
  line-height: 02px;
  padding: 2px 25px 0px 0px;
  display: flex;
  justify-content: space-between;
   border-bottom: 1px solid #00000010;
  border-radius: 5px 5px 0px 0px;
}

.changelog h2 {
  padding-top: 0px;
  margin-left: 15px;
  
}

.changelog-version-number:before {
  content: "Version ";
}

.changelog h3 {
  margin-left: 15px;
}

.changelog ul {
  margin-bottom: 35px;
margin-left: 15px;
}